/* estilo.css (esto es un comentario en CSS) */

p {
	color: blue;
}

li, h1, h2 {
	color: blue;
}

.importante {
	color: red;
}

#principal {
	color: green;
}


body {
	background-color: #eeeeee;
	font-family: monospace;
	font-size: 20px;
}